$link_background: #96c03f;
$link_color: #fff;
$link_i_color: #4a4a4a;
$sidebar_background: #fefeff;
$border_color: #ececee;
$button_background: #c2fbd7;
$button_color: #008000;

$font-family: "acumin-pro","Acumin Pro","Helvetica Neue",helvetica,arial,sans-serif;
$button_family: "CerebriSans-Regular","-apple-system","system-ui","Roboto",sans-serif;