.card {
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  height: 40rem;
}

.cardTop > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
