.notification {
  z-index: 500;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  text-align: center;
}

.success {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-right: 2rem solid var(--color-primary);
  border-radius: 0.5rem 0 0 0.5rem;
  margin: 1rem;
}

.errors {
  color: var(--color-danger);
  border: 1px solid var(--color-danger);
  border-right: 2rem solid var(--color-danger);
  border-radius: 0.5rem 0 0 0.5rem;
  margin: 1rem;
}
