#m-1 {
  margin: auto;
  display: flex;
  justify-content: center;
}

#ct {
  display: flex;
  justify-content: space-between;
}

.p-r {
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  margin: 0;
}

.p-b {
  font-size: 13px;
}

#but-r {
  height: 30px;
  font-size: 13px;
  color: white;
  border: none;
  width: 70px;
  font-weight: 700;
  align-self: center;
  border-radius: 5px;
  background-color: #dc3545;
  margin-top: -15px;
}

.wrp {
  display: flex;
  flex-wrap: wrap;

  .card {
    margin: 20px 0;
  }

  .card-img,
  .card-img-bottom,
  .card-img-top {
    width: 100%;
    height: 200px;
  }
}
