@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

$white: #fff;
$light-grey: #fafafa;
$grey-border: #e8e8e8;
$warm-grey: #888;
$color: #97bf02;
$color-2: #ffb400;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
